@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
    background-color: #F0F6FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    background-color: #007ACC;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

nav a:hover {
    background-color: #007ACC;
    color: white;
    border-color: #005C99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.barra-acessibilidade {
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.contraste, .contraste *{
    background: black !important;
    color: yellow !important;
}

.contraste header, .contraste main, .contraste footer {
    background: black !important;
    color: yellow !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 10px;
    background-color: #F7F3E9;
    text-align: center;

}

h2 {
    color: #003366;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 20px;
}

h3 {
    color: #005C99;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 15px;
}

p {
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 10px;
}

li {
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
}

.card {
    background-color: #E8F5E9;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.projetos-container {
    display: grid;
    gap: 20px;
    margin: 30px auto;
    padding: 10px;
}

.projeto {
    background-color: #E8F5E9;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.projeto ul {
    list-style: none;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.botoes ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.botoes a {
    display: inline-block;
    background-color: #007ACC;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.botoes a:hover {
    background-color: #007ACC;
    color: white;
    border-color: #005C99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #F0F6FA;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #555555;
}